
body {
  font-size: 14px;
  line-height: 1.1;
  font-family: $family;
}

.container {
  max-width: 1000px;
  box-sizing: border-box;
  margin: 0 auto;

}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

a {
  color: $turquoise;
}

strong {
  font-weight: 600;
}

.fa {
  color: $turquoise;
}

//отступ снизу padding or margin?
.title {
  margin-bottom: 20px;
}

header {
  background-color: $grey;
  height: 120px;
  padding: 45px 0;
  box-sizing: border-box;

  nav {
    ul {
      display: flex;
      position: relative;

      li:hover a {
        background-color: #fff;
        color: $turquoise;
        border-top: 5px solid $turquoise;
      }

      li:hover ul {
        display: block;
        z-index: 100;
        a {
          border: none;
          border-bottom: 1px solid #e7e7e7;
          color: #000;
        }
        li:last-child a {
          border-bottom: none;
        }
      }

      li {
        a {
          border-top: 5px solid $grey;
          color: #000;
          text-transform: uppercase;
          font-size: .92em;
          font-weight: bold;
          padding: 5px 25px 10px;
          display: block;
        }
        ul {
          display: none;
          position: absolute;
          background: #fff;
          border-bottom: 5px solid $turquoise;

          a {
            font-weight: 300;
            text-transform: capitalize;
          }

          li:hover a {
            color: $turquoise;
          }

        }
      }

    }

  }

}

.logo {
  color: #000;
  font-size: 3.571em;
  font-family: $latoBold;
  span {
    color: $turquoise;
    font-family: $latoReg;
  }

}

.xxx {
  padding-bottom: 1px;
}

.slider-main {
  background: #81e4ed;
  .bx-wrapper{
    background: #81E4ED;
  }
  .bx-wrapper .bx-viewport {
    box-shadow: none;
    background: none;
    border:none;
    left: 0;
  }
  ul {
    padding: 20px 0;
    li {
      position: relative;
      h1 {
        position: absolute;
        top: 100px;
        left: 60px;
        width: 33%;
        color: #fff;
        font-size: 3.571em;

      }
    }
  }
}

.benefits .container {
  //display: flex;
  //justify-content: space-around;
}

//Нужна ли макс спецификация .benefits ul li .title
.title {
  text-transform: uppercase;
  font-weight: bold;
}

.title {

  i {
    padding-right: 10px;
    font-size: 1.4em;
  }
}

[class^="icon-"], [class*="icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.title [class^="icon-"], .title [class*="icon-"] {
  padding-right: 10px;
  font-size: 1.4em;
}

.i-circle:before {
  border-radius: 50%;
  background: $turquoise;
  padding: 10px;
}

.icon-pencil:before {
  content: "\e905";
}

.icon-bubble2:before {
  content: "\e96e";
}

.icon-users:before {
  content: "\e972";
}

.icon-enlarge:before {
  content: "\e989";
}

.icon-airplane:before {
  content: "\e9af";
}

.icon-cool:before {
  content: "\e9eb";
}

.icon-paragraph-justify:before {
  content: "\ea7a";
}

//Margin добавляется одному или делится на два элемента?
// добавлю одному
.benefits {
  box-sizing: border-box;
  padding-top: 60px;
  padding-bottom: 50px;
  background: $grey;
  ul {
    display: flex;
    justify-content: space-around;
    li {
      margin-right: 3%;
    }
    [class^="icon-"]:before, [class*=" icon-"]:before {
      font-size: 1.3em;
      color: #fff;
    }

    h3 {
      margin-bottom: 1em;
      span {
        padding-right: 10px;
      }
    }

    p {
      line-height: 1.3;
      padding-bottom: 20px;
    }

    a {
      padding-left: 10px;
    }
  }
}

.works {
  padding-top: 20px;

  .works-slider {
    //На что лучше вешать полосы?
    //Как лучше делать отступы?
    padding-top: 20px;
    border-top: 1px solid #dfe1e5;
    border-bottom: 1px solid #dfe1e5;
    padding-bottom: 40px;
  }
  ul {
    display: flex;
    justify-content: space-between;
  }
}

.clients-feedback {
  box-sizing: border-box;
  margin-top: 20px;
  display: flex;
  margin-bottom: 40px;

  section {
    flex-basis: 50%;
  }
  .icon-users {
    color: $turquoise;
  }
  .clients ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    //картинки в этом блоке всегда должны быть одинакового размера?
    li {
      box-sizing: border-box;
      //width: 160px;
      //height: 100px;
      flex-basis: 33.3%;
      border: 1px solid #E8EBF1;
      -webkit-box-shadow: inset 0px 0px 27px 0px rgba(232, 235, 241, 1);
      -moz-box-shadow: inset 0px 0px 27px 0px rgba(232, 235, 241, 1);
      box-shadow: inset 0px 0px 27px 0px rgba(232, 235, 241, 1);
    }
  }
  blockquote {
    line-height: 1.5;
    margin-bottom: 40px;

  }

  .testimonials {
    //Почему стронг не подхватывается?
    p {
      font-weight: 600;
    }
    //КАК ЗАДАТЬ НЕОБХОДИМЫ ОТСТУП?
    padding-right: 25px;;
  }
}

.download {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #e8fcfe;
  border: 1px solid #81e4ed;
  padding: 38px 30px;
  margin-bottom: 40px;

  p {
    //flex-grow:1;
    flex-basis: 75%;
    line-height: 1.8;
    font-size: 1.14em;
    margin-right: 80px;;
  }

  .download-psd {
    box-sizing: border-box;
    //flex-grow:1;
    //flex-shrink: 2;
    position: relative;
    cursor: pointer;
    //flex-basis:25%;
    font-size: 1.285em;
    font-weight: 600;
    //padding: 25px;
    padding-right: 20px;;
    background: #7adfe9;
    border: 1px solid #2aacc8;
    height: 60px;
    //ПОЧЕМУ НЕ 240?
    width: 260px;
    border-radius: 5px;
    text-align: right;
    text-transform: uppercase;

    -webkit-box-shadow: inset 0px -2px 5px 0px rgba(105, 105, 105, 0.74);
    -moz-box-shadow: inset 0px -2px 5px 0px rgba(105, 105, 105, 0.74);
    box-shadow: inset 0px -2px 5px 0px rgba(105, 105, 105, 0.74);

    .fa {
      color: #fff;
      position: absolute;
      left: 20px;
      top: 18px;
      font-size: 1.5em;

    }

  }
}

.footer {
  background: $grey;
  padding-top: 35px;
}

.footer-top {
  display: flex;
  margin-bottom: 40px;
  section {
    //flex-basis: 20%;
    margin-right: 55px;
    p {
      line-height: 1.3;
    }
    a {
      color: #363636;
      line-height: 1.7;
    }
    a:hover {
      text-decoration: underline;
    }
  }

  section:last-child {
    margin-right: 0;
  }

  .about-us, .connect-with-us {
    //flex-shrink: 3;
    flex-basis: 25%;
  }

  .contact-us {
    flex-shrink: 0;
    line-height: 1.5;
  }

  .connect-with-us {
    ul {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      li {
        flex-basis: 33.3%;
      }
    }
  }
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
  .copyright {
    line-height: 1.6;
    flex-basis: 70%;
  }
}


